@keyframes piscar{
    0%, 100%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    }


*{
    background-color: white;
}
section{
    cursor: pointer;
}
.vazio{
    background-color: white;
}
.player1{
    background-color: rgb(4, 187, 248);
    
}
.player2{
    background-color: rgb(255, 60, 0);
}
