@keyframes piscar{
    0%, 100%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    }


*{
    background-color: white;
}
section{
    cursor: pointer;
}
.vazio{
    background-color: white;
}
.player1{
    background-image: url(../../assets/flamengo.png);
    background-size: cover;
    transition: 3s;
    background-position: center;
    background-size: contain;

}
.player2{
    background-image: url(../../assets/vasco.png);
    background-size: cover;
    transition: 3s;
    background-position: center;
    
}
