
.container{

  display: flex;
  justify-content: center;
  }
  .container h1{
      font-size: 8vh;
  }
  
  .tabuleiro{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      width: 700px;
      height: 700px;
      justify-content: center;
      margin: auto;
      
      background-color: black;
      
     
     
      
  }
  
  #caixa{
      border: 10px;
      border-color: green;
      background-color: white;
     
  }
  
  